@font-face {
  font-family: Atrobia;
  src: url(assets/Astrobia.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav{
  font-family: Atrobia;
  font-size: 20px;
  font-size: 1.25rem;
}

@media only screen and (max-width: 600px){
  .logo{
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
  }
  div.title{
    left: 0px;
  }
}


a.logo-title:hover{
  color: white;
  background-color: #343a40 !important;
}

div.MainNavbar{
  font-family: Atrobia;
  font-size: 30px;
  width: 90%;
  height: 90%;
  position: relative;
}

a {
  color: white;
  border: 10px;
}

a.navbarImg {
  background-color: #3E4450;
  display: block;
  color: white;
  text-align: center;
  padding: 0;
  text-decoration: none;
}

a:hover {
  color: gray;
  background-color: #2B2F37;
}


